@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.alert {
	display: flex !important;
}

.checks {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-top: 8%;
}

.table-outer {
	width: 100%;
	height: 350px;
	display: inline-block;
}

.table-inner {
	background-color: #666666;
	display: table;
	margin: 0 auto;
	border-spacing: 5px;
}

.table-head {
	width: 100%;
	font-size: large;
	font-weight: bold;
}

.scroller {
	width: 100%;
	overflow-y: scroll;
	height: 280px;
}

.table-row {
	display: table-row;
	width: auto;
	clear: both;
}

.table-col {
	float: left;
	display: table-column;
	width: 170px;
	height: 50px;
	line-height: 45px;
	text-align: center;
	border: 2px solid white;
}

.button-align {
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn {
	border: none !important;
	margin-right: 2%;
	background-color: #666666 !important;
}

.btn:hover {
	background-color: #000000 !important;
}

.input-details {
	background-color: #adacac;
	margin-top: 1%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.details-button {
	padding-left: 8%;
	display: flex;
	align-items: center;
}

.table-col input[type="text"] {
	background-color: #adacac;
	text-align: center;
	border: none;
	width: 100% !important;
	height: 100% !important;
}

input[disabled] {
	background-color: #666666 !important;
	color: black;
	cursor: text;
}
